@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --primry-color:#c72727;
    --secondary-color:#f99500;
    --light-color:#f3f3f3;
    --dark-color:#333;

}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lobster';
    line-height: 1.4;
    background: var(--light-color);
}

a {
    text-decoration: none;

}

ul {
    display: flex;
    list-style: none;
}


/* header */
.container {
    display: flex;
    justify-content: start;
    background: #F0F8FF;
    align-items: center;
    height: 80px;

}
.container .logo {
    flex: 2;
}

.container .logo img {
    width: 350px;
    padding-left: 60px;
}

.container #logos {
    flex: 1;

}

.container #navbar {
    flex: 1;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
}
.container #navbar ul li a {
    margin-left: 40px;
    transition: all 0.3s ease-in;
    width: 80px;
    height: 70px;
    align-items: center;
}
.container #navbar ul li a:hover {
    color: var(--primry-color);
    background: var(--dark-color);
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.container #logos ul li a:nth-child(1){
    color: #c72727;
}

.container #logos ul li  {
    margin: 10px;
}

.container #navbar ul li {
    margin: 10px;
}





/* show case */

.cantent {
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 130px ;
    color: #fff;
    line-height: 1.8;
    
}
.cantent::before {
    background : url('../img/featured.jpg')  ;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cantent h2 span {
    background: var(--secondary-color);
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 1.2;
}

.cantent p {
    font-size: 1.3rem;
    width: 500px;
    margin-top: 25px;
}

.cantent a {
    display: inline-flex;
    color: #fff;
    background: #c72727;
    padding: 10px 20px;
    font-size: 1.6rem;
    border-radius: 6px;
    transition: all 0.5s ease-in;

}

.cantent a:hover {
    background:#c92626d7 ;
    color: #ccc;
}




/*************** show case section **************/

.show-case-container {
    padding: 20px 300px;
    display: grid;
    grid-template-columns: 800px 100px;
    grid-gap:30px ;
    
}

.img-articl > p {
    width: 650px;
    font-size: 1.3rem;
}
.img-articl .about-autor {
    background: #dcd9d9;
    border: 2px solid #444;
    padding: 10px;
}

.navigation {
    margin-top: 60px;
    background: rgb(230, 228, 228);
    height: 300px;
    width: 200px;
    padding: 30px;
}

.navigation h4 {
    margin: 10px;
    font-size: 1.5rem;
    transition: all .2s ease-in;
}

.navigation h4:hover {
    color: var(--secondary-color);
    cursor: pointer;
}



/*************** footer section ****************/

.footer-container {
    
    margin-top: 60px;
    height: 350px;
    padding:15px 130px;
    background-color: #333;
    display:grid;
    grid-template-columns: repeat(4,300px);
    grid-gap: 30px;
    color: #fff;
}

.row1 img {
    width: 60%;
    padding-bottom: 20px;
}

.row2 .inn {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 3px;
}

.row2 .form {
    margin-top: 20px;
}
.row2 .form input:last-child {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.row3 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.3rem;
    align-items: center;
}

.row3 ul li:nth-child(2):hover,
.row3 ul li:nth-child(3):hover,
.row3 ul li:nth-child(4):hover {
    color: var(--secondary-color);
    cursor: pointer;
}

/* .row3 ul li:nth-child(2),
.row3 ul li:nth-child(3) {
    margin: 10px;
} */

.row4 ul{
    display: flex;
    flex-direction: column;
}

.row4 ul button:last-child {
     width:90% ;
     margin-top: 6px;
     padding: 2px;
     background: var(--secondary-color);
     cursor: pointer;
     height: 40px;
}

.row2 .form input:last-child:hover ,
.row4 ul button:last-child:hover {
    color: #fff;
    background: #f99500e0;
}

#copyright p{
    margin-left:500px;
    color: #f99500;
    width: 400px;
    font-size: 1.6rem;
}